<form name="myForm">
    Your name:
    <input type="text" ng-model="user.name" placeholder="Enter your name here" required>
</form>
<!-- <div>
    <table>
        <tr dir-paginate="i in accounts | itemsPerPage: usersPerPage" total-items="totalUsers" currrent-page="pagination.current">
            <td>{{i.login}}</td>
            <td>{{i.id}}</td>
            <td><img style="width: 30px; height: 30px; " ng-src="{{i.avatar_url}}"></td>
        </tr>
    </table>
    <dir-pagination-controls class="display" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</div>
 -->
<h1>All users</h1>
<div>
    <button class="btn btn-primary" ng-click="login()" ng-disabled="loginStatus.status == 'connected'">Connect with Facebook</button>
    &nbsp;
    <button class="btn btn-danger" ng-click="logout()" ng-disabled="!loginStatus || loginStatus.status != 'connected'">Logout</button>
    &nbsp;
    <button class="btn btn-success" ng-click="share()">FB.ui</button>
</div>
<br>
<div ng-repeat="i in users">
    <a href="#/users/{{i._id}}">{{i.name}}</a>
    <img style="width: 100px; height:100px" ng-src="{{i.image_url}}" alt="">
    <div>{{i.createdAt | date: YYYY-mm-dd}}</div>
</div>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ratchet template page</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Include the compiled Ratchet CSS -->
    <link href="ratchet.css" rel="stylesheet">
    <!-- Include the compiled Ratchet JS -->
    <script src="ratchet.js"></script>
</head>

<body>
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class="bar bar-nav">
        <h1 class="title">Ratchet</h1>
    </header>
    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">
        <p class="content-padded">Thanks for downloading Ratchet. This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resources:</p>
        <div class="card">
            <ul class="table-view">
                <li class="table-view-cell">
                    <a class="push-right" href="http://goratchet.com">
                        <strong>Ratchet documentation</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="https://github.com/twbs/ratchet/">
                        <strong>Ratchet on Github</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="https://groups.google.com/forum/#!forum/goratchet">
                        <strong>Ratchet Google group</strong>
                    </a>
                </li>
                <li class="table-view-cell">
                    <a class="push-right" href="https://twitter.com/goratchet">
                        <strong>Ratchet on Twitter</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
