<div><a href="#/">Back</a></div>
<h1>Wellcome</h1>
<div ng-repeat="i in users">
    <div>Nick name: {{i.name}}</div>
    <div>Created At{{i.createdAt | date: YYYY-mm-dd}}</div>
    <div>Email: {{i.email}}</div>
    <div>Age: {{i.age_range}}</div>
    <img style="width: 100px; height:100px" ng-src="{{i.image_url}}" alt="">
</div>
<form method="post">
    <div class="form-group row">
        <label for="user_name" class="col-xs-2 col-form-label">Username</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Pick a Username" id="user_name" ng-model="new_profile.user_name">
        </div>
    </div>
    <div class="form-group row">
        <label for="gender">Gender</label>
        <select name="gender" ng-model="new_profile.gender" name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="seeking">Preference</label>
        <select name="seeking" ng-model="new_profile.seeking" name="seeking">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="country" class="col-xs-2 col-form-label">Country</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Country" id="country" ng-model="new_profile.country">
        </div>
    </div>
    <div class="form-group row">
        <label for="zipcode" class="col-xs-2 col-form-label">Zipcode</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Zipcode" id="zipcode" ng-model="new_profile.zipcode">
        </div>
    </div>
    <div class="form-group row">
        <label for="birthday" class="col-xs-2 col-form-label">Birthday</label>
        <div class="col-xs-10">
            <input class="form-control" type="date" value="birthday" id="birthday" ng-model="new_profile.birthday">
        </div>
    </div>
    <div class="form-group row">
        <label for="ethnicity" class="col-xs-2 col-form-label">Ethnicity</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Ethnicity" id="ethnicity" ng-model="new_profile.ethnicity">
        </div>
    </div>
    <div class="form-group row">
        <label for="occupation" class="col-xs-2 col-form-label">Occupation</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Occupation" id="occupation" ng-model="new_profile.occupation">
        </div>
    </div>
    <div class="form-group row">
        <label for="martial_status" class="col-xs-2 col-form-label">Martial Status</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="martial_status" id="martial_status" ng-model="new_profile.martial_status">
        </div>
    </div>
    <div class="form-group row">
        <label for="age" class="col-xs-2 col-form-label">Age</label>
        <div class="col-xs-10">
            <input class="form-control" type="number" value="Age" id="age" ng-model="new_profile.age">
        </div>
    </div>
    <div class="form-group row">
        <label for="children">Do you have children?</label>
        <select name="children" ng-model="new_profile.children" name="children">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="education">Education</label>
        <select name="education" ng-model="new_profile.education" name="education">
            <option value="Some College"> Some College</option>
            <option value="Still in College">Still in College</option>
            <option value="Associate">Associate</option>
            <option value="Bachelors">Bachelors</option>
            <option value="Masters">Masters</option>
            <option value="Doctorate">Doctorate</option>
            <option value="None">None</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="faith">Faith</label>
        <select name="faith" ng-model="new_profile.faith" name="faith">
            <option value="Christian">Christian</option>
            <option value="Buddhist">Buddhist</option>
            <option value="Muslim">Muslim</option>
            <option value="Catholic">Catholic</option>
            <option value="Atheist">Atheist</option>
            <option value="None">None</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="smoke">Smoke</label>
        <select name="smoke" ng-model="new_profile.smoke" name="smoke">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="drink">Drink</label>
        <select name="drink" ng-model="new_profile.drink" name="drink">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="body">Body Type</label>
        <select name="body" ng-model="new_profile.body" name="body">
            <option value="Slim">Slim</option>
            <option value="Average">Average</option>
            <option value="Athletic">Athletic</option>
            <option value="Heavy">Heavy</option>
            <option value="None">None</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="animal">Dog or Cat Person?</label>
        <select name="animal" ng-model="new_profile.animal" name="animal">
            <option value="Dog">Dog</option>
            <option value="Cat">Cat</option>
            <option value="Both">Both</option>
            <option value="Neither">Neither</option>
        </select>
        <br>
    </div>
    <div class="form-group row">
        <label for="age_range">Select Age Preference</label>
        <select name="age_range" ng-model="new_profile.age_range" name="age_range">
            <option value="18-23">18-23</option>
            <option value="24-28">24-28</option>
            <option value="29-34">29-34</option>
            <option value="34-39">34-39</option>
            <option value="40-45">40-45</option>
            <option value="45-50">45-50</option>
            <option value="55+">55+</option>
        </select>
        <br>
    </div>
    <h3> Interests </h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="dining" ng-model="new_profile.dining">Dining</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="coffee_tea" ng-model="new_profile.coffee_tea">Coffee & Tea</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="cooking" ng-model="new_profile.cooking">Cooking</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="shopping" ng-model="new_profile.shopping">Shopping</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="movies" ng-model="new_profile.movies">Movies</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="television" ng-model="new_profile.television">Television</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="music" ng-model="new_profile.music">Music</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="games" ng-model="new_profile.games">Games</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="fishing" ng-model="new_profile.fishing">Fishing</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="camping" ng-model="new_profile.camping">Camping</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="travel" ng-model="new_profile.travel">Travel</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="museums" ng-model="new_profile.museums">Museums</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="theatres" ng-model="new_profile.theatres">Theatres</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="art" ng-model="new_profile.art">Art</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="anime" ng-model="new_profile.anime">Anime</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="photography" ng-model="new_profile.photography">Photography</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="gardening" ng-model="new_profile.gardening">Gardening</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="crafts" ng-model="new_profile.crafts">Crafts</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="computers" ng-model="new_profile.computers">Computers</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="technology" ng-model="new_profile.technology">Technology</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="karoke" ng-model="new_profile.karoke">Karoke</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="books" ng-model="new_profile.books">Books</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="writing" ng-model="new_profile.writing">Writing</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="cars" ng-model="new_profile.cars">Cars</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="coding" ng-model="new_profile.coding">Coding</label>
    </div>
    <h3> Sports </h3>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="walking" ng-model="new_profile.walking">Walking</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="hiking" ng-model="new_profile.hiking">Hiking</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="running" ng-model="new_profile.running">Running</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="cycling" ng-model="new_profile.cycling">Cycling</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="dancing" ng-model="new_profile.dancing">Dancing</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="swimming" ng-model="new_profile.swimming">Swimming</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="tennis" ng-model="new_profile.tennis">Tennis</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="bowling" ng-model="new_profile.bowling">Bowling</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="skiing" ng-model="new_profile.skiing">Skiing</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="golf" ng-model="new_profile.golf">Golf</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="martial_arts" ng-model="new_profile.martial_arts">Martial Arts</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="motorsports" ng-model="new_profile.motorsports">Motorsports</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="baseball" ng-model="new_profile.baseball">Baseball</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="basketball" ng-model="new_profile.basketball">Basketball</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="football" ng-model="new_profile.football">Football</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="hockey" ng-model="new_profile.hockey">Hockey</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="aerobics" ng-model="new_profile.aerobics">Aerobics</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="weights" ng-model="new_profile.weights">Weights</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="rock_climing" ng-model="new_profile.rock_climing">Rock Climbing</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="soccer" ng-model="new_profile.soccer">Soccer</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="surfing" ng-model="new_profile.surfing">Surfing</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="table_tennis" ng-model="new_profile.table_tennis">Table Tennis</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="volleyball" ng-model="new_profile.volleyball">Volleyball</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="yoga_pilates" ng-model="new_profile.yoga_pilates">Yoga & Pilates</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="badminton" ng-model="new_profile.badminton">Badminton</label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="snowboarding" ng-model="new_profile.snowboarding">Snowboarding</label>
    </div>
    <h3> Languages </h3>
    <div class="form-group row">
        <label for="languages" class="col-xs-2 col-form-label">Languages</label>
        <div class="col-xs-10">
            <input class="form-control" type="text" value="Languages" id="languages" ng-model="new_profile.languages">
        </div>
    </div>
    <input type="submit" ng-click="addprofile(id)">
</form>
